@import '~antd/dist/antd.css';

.App {
  text-align: center;
  align-items: center;
  justify-items: center;
}

.App-box {
  width: 60%;
  margin: auto;
  align-items: center;
  justify-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 10px;
  justify-content: center;
}

p {
  margin-bottom: 0 !important;
  margin-right: 10px;
}

button {
  margin-left: 10px;
}
